#nytimes-news {
  width: 700px;
  height: 500px;
  font-family: 'Times New Roman';
}

.content {

}

  .sidebar {
    border-right: 2px solid;
    position: absolute;
    top: 50%;
    margin-top: -85px;
    display: inline-block;
    float: left;
    height: 160px;
    font-size: 1.5em;
  }

    .sidebar-item-active {
      list-style-type: none;
      padding-right: 5px;
      margin-bottom: 40px;
      margin-top: 40px;
      float: right;
    }
      .sidebar-item-active .sidebar-item-name {
        border-bottom: 1px solid;
        display: inline-block;
        float: right;
      }

    .sidebar-item {
      list-style-type: none;
      padding-right: 5px;
      margin-top: 40px;
    }

    .sidebar-item .sidebar-item-name {
      display: inline-block;
      float: right;
    }

    .sidebar-item .sidebar-item-name:hover {
      color: gold;
    }

  .articles-container {
    height: 400px;
    overflow-y: auto;
    width: 75%;
    float: right;
    top: 50%;
    display: inline-block;
    margin-top: 15px;
  }

    .articles {
      
    }

        .article {
          padding-top: 20px;
          padding-bottom: 20px;
          list-style-type: none;
          box-shadow: 0px 24px 3px -24px grey;
        }

          .article-image {
            display: inline-block;
          }

          .article-details {
            display: inline-block;
            width: 320px;
            margin-left: 10px;
          }
            .article-title {

            }

            .article-title a {
              text-decoration: none;
              color: black;
            }

            .article-abstract {
              font-style: italic;
            }
